<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible">
    <title>Vue Js Course</title>
    <script src='vue.js'></script>
</head>

<!-- Known Options for Vue Instance -->
<!-- 
    el: connect to element
    data: stored data to be used/updated - called like a property in functions, just by name in app
    methods: methods accessible to the vue instance - called like a method in string interpolation
    computed: dependent properties - called like a property
    watch: execute code upon data changes - refrences an already defined data/computed property
 -->

<body>

    <style>
    </style>


    <div id="app">

        <!-- Everything for v-if, v-else, and v-show -->

        <!-- v-else-if also exists, must follow an if or else-f just like else -->
        <p v-if="show">You can see me!</p>
        <p v-else>Now you see me!</p>
        <!-- template is not a dom rendered element, so it's a nice way to group things without a div -->
        <template v-if="show">
            <p>inside a template</p>
        </template>
        <p v-show="show">Can you also see me?</p>
        <!-- v-if completley detatches an element, show simply adds a style of display:none instead -->
        <!-- <button :click="show = !show">Switch</button> -->


        <!-- Everything for v-for rendering lists -->
        <ul>
            <!-- <li v-for="ingredient in ingredients">{{ingredient}}</li> -->
            <!-- Order is important, element is always first, index is always second -->
            <li v-for="(ingredient, index) in ingredients" :key="ingredient" >{{ingredient}} ({{index}})</li>
        </ul>
        <button @click="ingredients.push('spices')">Add Spices</button>

        <hr>

        <!-- template example -->
        <ul>
            <template v-for="(ingredient, index) in ingredients">
                <p>{{ingredient}} : {{index}}</p>
                <!-- <p>{{index}}</p> -->
            </template>
        </ul>

        <hr>
        <ul>

            <li v-for="person in persons">{{ person.name }}</li>

            <li v-for="person in persons">
                <span v-for="value in person">{{value}}</span>
                <!-- first is always the property, second is the property name -->
                <span v-for="(value, key, index) in person">{{ key }}: {{value}} ({{index}})</span>
            </li>
        </ul>

        <hr>
        <span v-for="n in 10">{{n}}</span>

    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                show:true,
                ingredients: ['Chicken Breast', 'Mac and Cheese', 'Buttermilk'],
                persons: [
                    {name:'Max', age:27, color:'red'},
                    {name:'Taylor', age:23, color:'purple'}
                ]
            }, 
            computed: {
            },
            watch : {
            },
            methods : {
            }
        });
    </script>
</body>
</html>





